@tailwind base;
@tailwind components;
@tailwind utilities;

.scrl-hide::-webkit-scrollbar {
    display: none;
  }
  .scrl-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }