@tailwind base;
@tailwind components;
@tailwind utilities;

.scrl-hide::-webkit-scrollbar {
    display: none;
  }
  .scrl-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .custom-table .ant-table-body {
    max-height: 300px; /* or height */
    overflow-y: auto;
  }
  